/*>
  $root = DOCROOT
  $pie = "behavior:url(PIEPATH)"

  ; default color if bg of navigationpoint is default
  $defaultColor = #00c7ff
<*/

body {
  font-family: 'Arial';
  font-size: 12px;
  padding-top: 30px;
}

body,
.footer {
  border-top: 5px solid $defaultColor;
}

.subnavigation {
  border-bottom: 3px solid $defaultColor;
}

.navigation {
  background: $defaultColor;
  margin-top: 30px;
}

.navigation ul {
  list-style: none;
  margin: 0;
}

.navigation ul ul {
  display: none;
}

.navigation div.navigation-link {
  float: left;
  padding: 10px;
}

.navigation div.navigation-link p {
  font-size: 10px;
  margin: 0;
  padding: 0;
  color: #006cc1;
}

.navigation a {
  display: block;
  color: white !important;
  letter-spacing: 1px;
  text-decoration: none;
}

.active_language {
  text-decoration: underline;
}

.active_1,
.navigation div.navigation-link:hover {
  background: #efefef;
  text-decoration: none;
  cursor: pointer;
}

.active_1 a,
.navigation div.navigation-link a {
  color: black !important;
}

.language_selection {
  padding-top: 50px;
  list-style: none;
}

.language_selection a {
  float: left;
  display: block;
  margin-left: 20px;
}

.footer {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 10px;
}

.footer ul {
  list-style: none;
}

.footer a {
  float: left;
  margin-left: 10px;
  font-size: 10px;
}

.footer .active_2 a:hover,
.footer .active_2 a {
  color: black;
  text-decoration: underline;
}

.content h1 {
  font-size: 24px;
}

.subnavigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subnavigation ul a {
  color: black;
  float: left;
  display: block;
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.subnavigation a.active_1,
.subnavigation ul a:hover {
  color: black;
  background: none;
  text-decoration: underline;
}

.sub_navigation_left {
  float: left;
  width: 25%;
}

.sub_navigation_right {
  float: right;
  width: 25%;
}

.sub_navigation_left ul,
.sub_navigation_right ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sub_navigation_left a.active_1,
.sub_navigation_left ul a:hover,
.sub_navigation_right a.active_1,
.sub_navigation_right ul a:hover {
  background: #65ddff;
  text-decoration: none;
  cursor: pointer;
  color: white;
}

.sub_navigation_left ul a,
.sub_navigation_right ul a {
  display: block;
  padding: 10px 5px;
  margin-top: 1px;
  color: black;
}

.sub_navigation_content {
  float: left;
  width: 73%;
  padding-left: 2%;
}